<%-include('templates/init.ejs')%>
<%-include('templates/menu.ejs')%>
<div class="container">
    <div class="alert alert-danger mt-5" role="alert">
        <%=mensaje%>
      </div>
</div>
<%-include('templates/end.ejs')%>