<%-include('templates/init.ejs')%>
<%-include('templates/menu.ejs')%>
<div>
    <div class="text-center">
        <h1 class="mt-5">Aprende Digital</h1>
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <div class="text-center">
                            <h3>Iniciar sesion</h3>
                        </div>
                    </div>
                    <form method="post" action="/accederAdmin">
                        <div class="card-body">
                            <input type="text" class="form-control my-2" placeholder="Ingresa nombre de usuario" name="user">
                            <input type="password" class="form-control my-2" placeholder="Ingresa tu password" name="password">
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-lg col-12 btn-primary" type="submit">Ingresar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>
<%-include('templates/end.ejs')%>